<h1>Cadastro</h1>
<form action='/cadastrar' method='post'>
    <input 
        type='text'
        name='nome'
        placeholder='Nome. . .'
        required
    >
    <input
        type='password'
        name='senha'
        placeholder='Senha. . .'
        required
    >
    <button type='submit'>Cadastrar</button>
</form>
<p>Ja tem conta?<a href='/login'>Login</a></p>